<div class="card mx-auto text-center border-light" style="width: 18rem;">
<img src="assets/angular.png" class="card-img-top" alt="Angular Logo alias">
<div class="card-body">
<h5 class="card-title">Luis's Angular Project under the h5 tag</h5>
<p class="card-text">
    This is under the nested p tag, class is "class-text". This is a personal blog for Luis created with Angular and Scully.
    target="_blank" will open it into it's own tab.
</p>
<a href="https://angular.io">Angular</a>
<a href="https://scully.io" target="_blank">Scully</a>
</div>
</div>

